@model TransactionListVM
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="conainer p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Historial de Movimientos</h2>

        </div>

        <div class="col-6 text-end">
            <a asp-controller="Transaction" asp-action="NewIncome" asp-route-BusinessUnitId="@Model.BusinessUnitId" class="btn btn-success">Nuevo Ingreso</a>
            <a asp-controller="Transaction" asp-action="NewExpense" asp-route-BusinessUnitId="@Model.BusinessUnitId" class="btn btn-danger">Nuevo Gasto</a>
        </div>

    </div>
    <br />
    <form asp-controller="Transaction" asp-action="Index" method="get">

        <p>
            Fecha:      <input type="date" name="date" class="form-text" value="" />
            Descripcion: <input type="text" name="description" class="form-text" />
            <input type="submit" value="Buscar" class="btn btnsmall btn-dark" />
        </p>

    </form>
    @if (Model.Transactions.Count() > 0)



    {
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>Fecha</th>
                    <th>Descripcion</th>
                    @*<th>Marca</th>*@
                    <th>Amount</th>
                    @*<th>Precio</th>
                <th>Profit</th>*@
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Transactions)
                {

                    <tr>
                        <th width="10%">@item.DateTime</th>
                        <th width="15%">@item.Description</th>
                        @*<th width="10%">@item.</th>*@
                        <th width="10%">@item.Amount</th>
                        @*<th width="10%">@item.Price</th>
                <th width="10%">@(item.Price - item.Cost)</th>*@
                        <th class="text-center">
                            <div width="30" class="w-75 btn-group" role="group">
                                <a asp-controller="Transaction" asp-action="TransactionDetails" asp-route-TransactionId="@item.Id" class="btn btn-outline-secondary mx-2">
                                    Details
                                </a>
                                <a asp-controller="Transaction" asp-action="DeleteTransaction" asp-route-TransactionId="@item.Id" class="btn btn-outline-danger mx-2">
                                    Delete
                                </a>
                            </div>


                        </th>

                    </tr>
                    @*<tr>
            <th>hola soy una linea abajo @item.UserId  @item.Saludar()</th>
            <th>
            <div class="w-75 btn-group" role="group">
            <a asp-controller="Refueling" asp-action="NewRefueling" asp-route-Id="@item.Id" class="btn btn-info">Recargar</a>
            <a asp-controller="Refueling" asp-action="Index" asp-route-Id="@item.Id" class="btn btn-info mx-2">Historial</a>
            </div>
            </th>

            </tr>*@
                }
            </tbody>

        </table>
    }
    else
    {
        <p>No hay Transacciones</p>
    }

</div>

