@model PointOfSale.Models.Transaction
@{
    ViewData["Title"] = "NewIncome";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post" asp-action="NewIncome">
    <input type="hidden" asp-for="BusinessUnitId" />
    <div class="border p-3">

        <div asp-validation-summary="ModelOnly" class="text-danger">
        </div>


        <div class="form-group row">
            <h2 class="text-info pl-3">Nuevo Ingreso</h2>
        </div>
        <div class="container">
            
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Description" class="form-label">Description</label>
                    <input asp-for="Description" class="form-control" />
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="Amount" class="form-label">Amount</label>
                    <input asp-for="Amount" class="form-control" />
                    <span asp-validation-for="Amount" class="text-danger"></span>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <label asp-for="CashRegisterId" class="form-label">Caja</label>
                    @*<select asp-for="CashRegisterId"  class="form-control" id="CashRegisterId" name="CashRegisterId">
                    @foreach (var cashRegister in ViewBag.CashRegisterList)
                    {
                    <option value="@cashRegister">@cashRegister</option>
                    }
                    </select>*@
                    @*<select asp-for="CashRegisterId" asp-items="@(new SelectList(ViewBag.CashRegisterList))"
                    class="form-control">
                    <option value="">Seleccione una CashRegister</option>
                    </select>*@
                    <select asp-for="CashRegisterId" class="form-control">
                        <option value="">Seleccione una CashRegister</option>
                        @foreach (var cashRegister in ViewBag.CashRegisterList)
                        {
                            <option value="@cashRegister.Id">@cashRegister.Name</option>
                        }
                    </select>

                    <span asp-validation-for="CashRegisterId" class="text-danger"></span>
                </div>
            </div>

            <br />
            <div class="d-grid gap-2 d-md-block">
                <button type="submit" class="btn btn-outline-primary">Crear</button>
                <a asp-controller="Transaction" asp-action="Index" class="btn btn-outline-success">Regresar</a>

            </div>
        </div>



    </div>

</form>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}